.navigation-bookmarks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bookmarks-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #eeeeda;
    border-radius: 15px;
    padding: 20px 50px;
    transition: all 2s linear;
}

.bookmarks-wrapper img {
    margin: 10px 30px;
}

.finance-icon {
    height: 80px;
}

.smaller-icon {
    height: 50px;
}

.bookmarks-icon {
    height: 30px;
    position: absolute;
    top: -15px;
}

.bookmarks-icon-background {
    height: 30px;
    width: 60px;
    background-color: #1c1c1c;
    position: absolute;
    top: -15px;
}

.bookmarks-start, .bookmarks-university{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bookmarks-university, .bookmarks-programming, .bookmarks-finance {
    display: none;
}

.bookmark-heading {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
}

.bookmark-links a {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: inherit;
    text-decoration: none;
    margin: 0 15px 0 0;
}

.bookmark-links a:hover {
    color: #af0000;
}

.bookmark-links {
    margin-bottom: 30px;
}