@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --darkgrey: #1c1c1c;
    --midgrey: #333333;
    --lightgrey: #999999;
    --white: #eeeeda;
}

body {
    font-family: "Roboto Mono", monospace;
    color: var(--white);
    background-color: var(--darkgrey);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 25px 10px;
}

.hero-weather, .hero-time {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-weather-temperature, #hero-time-clock {
    margin: 2.5px;
    font-size: 30px;
    font-weight: 400;
}

#hero-weather-text, #hero-time-date {
    margin: 2.5px;
    font-size: 15px;
    font-weight: 300;
}

.hero-main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-main-welcome {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px;
}

.hero-main-quote {
    margin: 5px;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

main {
    height: 82vh;
    display: flex;
    flex-direction: row;
}

.solarsystem {
    width: 45vw;
    overflow: hidden;
    position: relative;
}

.navigation {
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation-searchbar {
    width: 100%;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-bookmarks {
    width: 100%;
    margin: 50px;
}

@media screen and (max-width: 1080px) {
    .solarsystem {
        width: 0;
        overflow: hidden;
    }

    .navigation {
        width: 100vw;
    }
}