#sun {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fad04a;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 35px);
}

#mercury {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #d5c3ad;
    position: absolute;
    left: calc(50% - 3.5px);
    top: calc(50% - 13.5px);
    animation: mercury-anim 6.00s linear infinite;
}

@keyframes mercury-anim {
    from {
        transform: rotate(0deg) translateX(-55px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-55px) rotate(360deg);
    }
}


#venus {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #cfae8f;
    position: absolute;
    left: calc(50% - 4.5px);
    top: calc(50% - 14.5px);
    animation: venus-anim 8.12s linear infinite;
}

@keyframes venus-anim {
    from {
        transform: rotate(0deg) translateY(70px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(70px) rotate(360deg);
    }
}

#earth {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #2088af;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 15px);
    animation: earth-anim 9.56s linear infinite;
}

@keyframes earth-anim {
    from {
        transform: rotate(0deg) translateX(85px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(85px) rotate(360deg);
    }
}

#mars {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #bf472f;
    position: absolute;
    left: calc(50% - 3.5px);
    top: calc(50% - 13.5px);
    animation: mars-anim 11.84s linear infinite;
}

@keyframes mars-anim {
    from {
        transform: rotate(0deg) translateY(-100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(-100px) rotate(360deg);
    }
}

#jupiter {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #9c938a;
    position: absolute;
    left: calc(50% - 17px);
    top: calc(50% - 27px);
    animation: jupiter-anim 21.76s linear infinite;
}

@keyframes jupiter-anim {
    from {
        transform: rotate(0deg) translateX(-150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-150px) rotate(360deg);
    }
}

#saturn {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #ddbe7d;
    position: absolute;
    left: calc(50% - 11px);
    top: calc(50% - 21px);
    animation: saturn-anim 29.36s linear infinite;
}

#saturn-belt {
    height: 6px;
    width: 35px;
    border-radius: 90%;
    background-color: #a08165;
    position: absolute;
    left: calc(50% - 17.5px);
    top: calc(50% - 13px);
    animation: saturn-anim 29.36s linear infinite;
}

@keyframes saturn-anim {
    from {
        transform: rotate(0deg) translateY(195px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(195px) rotate(360deg);
    }
}

#uranus {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #00c5d6;
    position: absolute;
    left: calc(50% - 7px);
    top: calc(50% - 17px);
    animation: uranus-anim 41.78s linear infinite;
}

@keyframes uranus-anim {
    from {
        transform: rotate(0deg) translateX(230px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(230px) rotate(360deg);
    }
}

#neptune {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #5886de;
    position: absolute;
    left: calc(50% - 6.5px);
    top: calc(50% - 16.5px);
    animation: neptune-anim 52.34s linear infinite;
}

@keyframes neptune-anim {
    from {
        transform: rotate(0deg) translateY(-265px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(-265px) rotate(360deg);
    }
}

.orbit {
    border: 1px solid #333333;
    border-radius: 50%;
    position: absolute;
}

#mercury-orbit {
    height: 110px;
    width: 110px;
    top: calc(50% - 65px);
    left: calc(50% - 55px);
}

#venus-orbit {
    height: 140px;
    width: 140px;
    top: calc(50% - 80px);
    left: calc(50% - 70px);
}

#earth-orbit {
    height: 170px;
    width: 170px;
    top: calc(50% - 95px);
    left: calc(50% - 85px);
}

#mars-orbit {
    height: 200px;
    width: 200px;
    top: calc(50% - 110px);
    left: calc(50% - 100px);
}

#jupiter-orbit {
    height: 300px;
    width: 300px;
    top: calc(50% - 160px);
    left: calc(50% - 150px);
}

#saturn-orbit {
    height: 390px;
    width: 390px;
    top: calc(50% - 205px);
    left: calc(50% - 195px);
}

#uranus-orbit {
    height: 460px;
    width: 460px;
    top: calc(50% - 240px);
    left: calc(50% - 230px);
}

#neptune-orbit {
    height: 530px;
    width: 530px;
    top: calc(50% - 275px);
    left: calc(50% - 265px);
}